.event-time-bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: $midnight-blue-light;    
    top: -100%;
    
    .event-item-time {
        position: absolute;
        left: 50%;
        top: 50%;
            transform: translate(-50%, -50%);
            background: $white;
            width: 75rem;
            min-height: 35rem;
        .countdown-time {
            background: $oregon-light;
            display: flex;
            height: 18rem;
            div {
                width: 15rem;
                height: 100%;
                @include center;
                border-right: .1rem solid $white;
                display: flex;
                flex-direction: column;
            }
        }
        .event-info {
            @include center;
            flex-direction: column;
        }
    }    
}
.show-timer {
    animation-name: showingTimer;
    animation-duration: 1s;
}
@keyframes showingTimer {
    from {top: -100%;}
    to {top: 0;}
}