.events {
    background: $oregon;
    height: 100%;
    width: 60%;
    overflow-y: scroll;
    
    .event-item {
        background: $white;
        display: flex;
        margin: 2rem auto;
        width: 50rem;
        min-height: 10rem;  
        &:hover {
            cursor: pointer;
        }
        .event-date {
            background: $midnight-blue-light;
            width: 12rem;
            @include center;
        }
        .event-item-title {
            margin: auto;
        }       
    }
}
