.form-container {
    background: $midnight-blue;
    height: 100%;
    width: 40%;
    @include center;

    .form {
        background:$silver-grey-dark;
        height: 60rem;
        flex-direction: column;
        padding: 1rem;
        @include center ($align-items: initial);
        width: 50rem;
        input {
            height: 4rem;
            margin-bottom: 2rem;
            border: none;
        }
        .btn-add-event {
            height: 4rem;
            background: $silver-grey-light;
            border: none;
            outline: none;
            margin-top: 2rem;
            &:hover {
                cursor: pointer;
                background: $primary;
                transition: .2s ease-in-out;
            }
        }
        #time {
            margin-left: 2rem;
        }
    }
}