* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 10px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media (max-width: 1024px) {
  .events {
    width: 100% !important;
  }
  .form-container {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
  }
  .menu-bar {
    display: block !important;
  }
}

body {
  position: relative;
}

body .remove-btn {
  color: #fff;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 1;
  cursor: pointer;
}

body .menu-bar {
  position: absolute;
  right: 3rem;
  top: 1rem;
  color: #fff;
  z-index: 1;
  display: none;
  cursor: pointer;
}

.container {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

* {
  border-radius: .4rem;
}

.form h3 {
  font-size: 3rem;
  text-align: center;
  color: #fff;
  margin-bottom: 2rem;
}

.form label {
  font-size: 2.5rem;
  color: #fff;
  margin: 1rem 0;
}

.form input {
  padding: 0 1rem;
  letter-spacing: .2rem;
}

.form #description {
  margin-bottom: 2rem;
  padding: 1rem;
}

.form .btn-add-event {
  color: #fff;
  font-size: 2rem;
}

.event-date {
  font-size: 5rem;
  text-align: center;
  color: #fff;
}

.event-date .event-month {
  color: #fff;
  font-size: 2.5rem;
}

.event-item-title {
  padding: 1rem;
  font-size: 3rem;
  color: #003366c5;
}

.event-item-time div {
  color: #fff;
  font-size: 4rem;
}

.event-item-time div span:first-child {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.event-item-time .event-info {
  text-align: center;
  margin-top: 2rem;
  color: #003366c5;
}

.event-item-time .event-info .event-desc {
  font-size: 2rem;
}

.event-time-bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #003366c5;
  top: -100%;
}

.event-time-bg .event-item-time {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  width: 75rem;
  min-height: 35rem;
}

.event-time-bg .event-item-time .countdown-time {
  background: #993300c5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 18rem;
}

.event-time-bg .event-item-time .countdown-time div {
  width: 15rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 0.1rem solid #fff;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.event-time-bg .event-item-time .event-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.show-timer {
  -webkit-animation-name: showingTimer;
          animation-name: showingTimer;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes showingTimer {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

@keyframes showingTimer {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

.events {
  background: #993300;
  height: 100%;
  width: 60%;
  overflow-y: scroll;
}

.events .event-item {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem auto;
  width: 50rem;
  min-height: 10rem;
}

.events .event-item:hover {
  cursor: pointer;
}

.events .event-item .event-date {
  background: #003366c5;
  width: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.events .event-item .event-item-title {
  margin: auto;
}

.form-container {
  background: #003366;
  height: 100%;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-container .form {
  background: #cccccc0e;
  height: 60rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  width: 50rem;
}

.form-container .form input {
  height: 4rem;
  margin-bottom: 2rem;
  border: none;
}

.form-container .form .btn-add-event {
  height: 4rem;
  background: #cccccc65;
  border: none;
  outline: none;
  margin-top: 2rem;
}

.form-container .form .btn-add-event:hover {
  cursor: pointer;
  background: #42619b;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.form-container .form #time {
  margin-left: 2rem;
}
