@media (max-width: 1024px) {
    .events {
        width: 100% !important;
    }
    .form-container {                
        position: absolute;
        width: 100% !important;
        height: 100% !important;
    }
    .menu-bar {
        display: block !important;
    }
}